doctype html(lang='en')
head
  meta(charset='utf-8')

  link(rel='stylesheet', href='/css/main.css')

  if title != null
    title Bookworm | #{title}
  else
    title Bookworm

  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

  body
    // load navbar.jade
    include navbar

    // content block
    block content

    // footer
    p Written by Anna Peterson



